*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wholewrapper{
    width: 100vw;
    height: 100vh;
    background-color: #344151;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.mid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    

}
.midheading{
    color: #0398d4;
    font-size:large;
    margin: 10px;
    
}
.maincontent{
    font-size: 25px;
    gap: 12px;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 200px;
    height: 30px;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
}
#minusbutton{
    border: hidden;
  
    padding-right:5px ;
    background-color: #ffffff;
    border-right: 2px solid #bfbfbf;
    height: 30px;
}
#plusbutton{
    border: hidden;
    border-left: 2px solid #bfbfbf;
    padding-left: 5px;
    background-color: #ffffff;
    
    height: 30px;
}
.counter{
    
 
   
    font-weight: bolder;
}